body {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, darkblue, lightskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, darkblue, lightskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, darkblue, lightskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, darkblue, lightskyblue); /* Standard syntax */
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}
.col-md-4 {
    width: 33.33333333%;
}

input[type="submit"]{
    width:;
    height:50px;

}

.btn-primary {
    color: #fff;
    background-color: darkorange;

}
.quiz-options{
    margin-top: 200px;
}
