.body-default {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, darkblue, lightskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, darkblue, lightskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, darkblue, lightskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, darkblue, lightskyblue); /* Standard syntax */
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}
.col-md-4 {
    width: 33.33333333%;
}

input[type="submit"]{
    height:50px;

}

.btn-primary {
    color: #fff;
    background-color: darkorange;

}
.quiz-options{
    /*margin-top: 200px;*/

}

.navbar-default{
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, darkblue, lightskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, darkblue, lightskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, darkblue, lightskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, darkblue, lightskyblue); /* Standard syntax */
    border-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, royalblue, lightskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, royalblue, lightskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, royalblue, lightskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, royalblue, lightskyblue); /* Standard syntax */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.alert-info{
    background: #00BFFF;
    border-color: transparent;
    text-align: center;
}
.alert-success{
    background: #ADFF2F;
    border-color: transparent;
    text-align: center;
}
.alert-danger{
   background: #FF0000;
    border-color: transparent;
    text-align: center;
}
.alert-warning{
    background: #FFFF00;
    border-color: transparent;
    text-align: center;
}

.alert-wrong{
    background: #ff33bb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #00BFFF, #ADFF2F, #FF0000, #FFFF00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #00BFFF, #ADFF2F, #FF0000, #FFFF00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #00BFFF, #ADFF2F, #FF0000, #FFFF00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #00BFFF, #ADFF2F, #FF0000, #FFFF00); /* Standard syntax */
    border: 0;
    text-align: center;
}

.btn-primary{
    margin-bottom: 15px;
    margin-top: 15px;
}

.Username{
    margin-top: 15px;
    margin-bottom: 15px;
}


     /* The Modal (background) */
 .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#my-btn {
    color: #fff;
    background-color: #00cccc;
    border-color: #46b8da;
    margin-top: 200px;
}

#results {
    color: #000
}

.slick-prev {
    left: 100px;
    z-index: 10;
    margin-top: 50px;
}

.slick-next{
    right: 100px;
    margin-top: 50px;
}
.slider-1 {
    height: 200px;
    margin-bottom: 200px;
}
.slider-content-1 {
    background: #009933; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #00e64d, #006622); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #00e64d, #006622); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #00e64d, #006622); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #00e64d, #006622); /* Standard syntax */
    height: 300px;
    text-align: center;
}

.slider-content-2 {
    background: #ff8c1a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #ffa366, #e65c00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #ffa366, #e65c00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #ffa366, #e65c00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #ffa366, #e65c00); /* Standard syntax */
    height: 300px;
    text-align: center;
}

.slider-content-3 {
    background: #ff1ac6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #ff4dd2, #b30086); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #ff4dd2, #b30086); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #ff4dd2, #b30086); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #ff4dd2, #b30086); /* Standard syntax */
    height: 300px;
    text-align: center;
}

.andrea123 {
    background: #9900cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #bf00ff, #730099); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #bf00ff, #730099); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #bf00ff, #730099); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #bf00ff, #730099); /* Standard syntax */
    height: 300px;
    text-align: center;
}

.slider-btn {
    color: red;
    z-index: 10;
    margin: center;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-primary {
    border-color: #809fff;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #809fff;
    border-color: #809fff;
}

.panel-danger {
    border-color: #ff6666;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #ff6666;
    border-color: #ff6666;
}

.panel-warning {
    border-color: #ffe680;
}

.panel-warning > .panel-heading {
    color: #fff;
    background-color: #ffe680;
    border-color: #ffe680;
}

.panel-primary2 {
    border-color: #809fff;
}

.panel-primary2 > .panel-heading {
    color: #fff;
    background-color: #809fff;
    border-color: #809fff;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.btn-primary2 {

}

a.btn-primary2 {
 color: #000;
    display: block;
    width: 150px;
}

a:hover {
 color: #000;
}

.navbar-default {
    border: 3px solid grey;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: transparent;
}

.navbar {
    margin-bottom: 0px;
}

.btn-primary3 {
    text-align: center;
}

.body-mama {
    background: #ff1ac6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #b30086, #ff4dd2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #b30086, #ff4dd2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #b30086, #ff4dd2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #b30086, #ff4dd2); /* Standard syntax */
}

.body-onkel {
    background: #009933; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #006622, #00e64d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #006622, #00e64d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #006622, #00e64d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #006622, #00e64d); /* Standard syntax */
}

.body-papa {
    background: #ff8c1a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #e65c00, #ffa366); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #e65c00, #ffa366); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #e65c00, #ffa366); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #e65c00, #ffa366); /* Standard syntax */
}

.body-andrea {
    background: #9900cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #730099, #bf00ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #730099, #bf00ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #730099, #bf00ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #730099, #bf00ff); /* Standard syntax */
}

.panel-gaming {
    border-color: darkorchid;
}

.body-1-teil-gaming {
    background-color: #122b40;
    height: 400px;
    overflow: hidden;
}

.body-1-teil-serien-filme {
    background-color: darkslategray;
    height: 400px;
    overflow: hidden;
}

.body-1-teil-ber端hmte-personen {
    background-color: #800000;
    height: 400px;
    overflow: hidden;
}

@keyframes gaming-logo-animation {
    0%   {transform: translateY(400px);}
    100% {transform: translateY(0px);}
}


.gaming-logo {
    text-align: center;
    animation-name: gaming-logo-animation;
    animation-duration: 4s;
    opacity: 0.8;
}

@keyframes ber端hmte-personen-animation{
    0%   {transform: translateY(400px);}
    100% {transform: translateY(0px);}
}


.ber端hmte-personen-logo {
    text-align: center;
    animation-name: ber端hmte-personen-animation;
    animation-duration: 4s;
    opacity: 0.8;
}

@keyframes serien-flime-animation {
    0%   {transform: translateY(400px);}
    100% {transform: translateY(0px);}
}


.serien-flime-logo {
    text-align: center;
    animation-name: serien-flime-animation;
    animation-duration: 4s;
    opacity: 0.8;
}

.timer {
    text-align: center;
}